#### Import Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Import Dataset

In [9]:
df_marketing = pd.read_csv("../dsc/marketing.csv")
df_marketing.head()

,campaign_id,product_id,campaign_name,start_date,end_date,spend_idr,channel,engagement_rate
0,MKT001,PC010,Campaign_1_PC010,2020-10-12,2020-12-14,256411579,TV,0.566
1,MKT002,PC008,Campaign_2_PC008,2020-06-30,2020-08-29,582461991,TV,0.376
2,MKT003,PC006,Campaign_3_PC006,2021-09-01,2021-09-22,884233026,TV,0.117
3,MKT004,PC015,Campaign_4_PC015,2025-04-23,2025-07-04,1139498941,Influencer,0.560
4,MKT005,PC003,Campaign_5_PC003,2021-07-15,2021-09-08,340924224,Billboard,0.091

In [12]:
df_products = pd.read_csv("../dsc/products.csv")
df_products.head()

,product_id,product_name,brand,type,size_ml,base_price,launch_date
0,PC001,Sunsilk Smooth & Shine Shampoo 340ml,Sunsilk,Shampoo,340,32000,2020-02-15
1,PC002,Sunsilk Black Shine Conditioner 340ml,Sunsilk,Conditioner,340,33000,2020-06-10
2,PC003,Lifebuoy Total10 Body Wash 400ml,Lifebuoy,Body Wash,400,28000,2020-03-20
3,PC004,Lifebuoy Mild Care Handwash 200ml,Lifebuoy,Handwash,200,25000,2021-05-01
4,PC005,Dove Deep Moisture Lotion 200ml,Dove,Lotion,200,35000,2021-11-12

In [14]:
df_reviews = pd.read_csv("../dsc/reviews.csv")
df_reviews.head()

,review_id,product_id,date,rating,sentiment,platform,comment
0,R100000,PC014,2024-10-16,4.6,Positive,Instagram,"Packaging bocor saat diterima, kurang aman."
1,R100001,PC012,2023-06-27,2.8,Negative,Instagram,"Mudah dibeli saat promo, value for money."
2,R100002,PC003,2022-10-21,3.2,Neutral,Shopee,"Mudah dibeli saat promo, value for money."
3,R100003,PC010,2025-03-07,2.0,Negative,Tokopedia,"Mudah dibeli saat promo, value for money."
4,R100004,PC015,2022-03-03,1.5,Negative,Shopee,Memberikan hasil sesuai klaim after 2 weeks.

In [16]:
df_sales = pd.read_csv("../dsc/sales.csv")
df_sales.head()

,transaction_id,date,product_id,region,channel,units_sold,avg_price,discount_pct,revenue,days_since_launch
0,fa43024c-7c61-4e2b-bfd1-84915e86c4f7,2024-02-04,PC001,Semarang,Shopee,4,31721.61,5,126886.45,1450
1,cc02b941-61b7-4e37-b385-ecfc2fe2a0b0,2022-05-31,PC004,Medan,Tokopedia,4,23148.20,0,92592.80,395
2,378b66ac-8b18-43e3-8b91-cfbb0ee1d346,2020-10-24,PC013,Palembang,Alfamart,5,25396.69,20,126983.43,-1178
3,42ff9d7e-aba8-4444-b144-3ed288c3ae2c,2023-05-31,PC001,Medan,Tokopedia,7,30006.83,0,210047.84,1201
4,605dfc68-c347-406e-b6af-2bb43cabc515,2024-05-06,PC009,Medan,Tokopedia,2,30927.25,5,61854.50,1324

#### Data Understanding

In [38]:
datas = [df_marketing, df_products, df_reviews, df_sales]
for i in datas:
    print(i.info())
    print(i.describe())
    print("\n\n\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   campaign_id      20 non-null     object
 1   product_id       20 non-null     object
 2   campaign_name    20 non-null     object
 3   start_date       20 non-null     object
 4   end_date         20 non-null     object
 5   spend_idr        20 non-null     int64
 6   channel          20 non-null     object
 7   engagement_rate  20 non-null     float64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ KB
None
          spend_idr  engagement_rate
count  2.000000e+01        20.000000
mean   7.466626e+08         0.295650
std    2.959522e+08         0.175868
min    2.564116e+08         0.086000
25%    5.326261e+08         0.148750
50%    7.380224e+08         0.225500
75%    1.011027e+09         0.438250
max    1.180332e+09         0.586000




<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    15 non-null     object
 1   product_name  15 non-null     object
 2   brand         15 non-null     object
 3   type          15 non-null     object
 4   size_ml       15 non-null     int64
 5   base_price    15 non-null     int64
 6   launch_date   15 non-null     object
dtypes: int64(2), object(5)
memory usage: 972.0+ bytes
None
          size_ml   base_price
count   15.000000     15.00000
mean   256.666667  32400.00000
std    127.428785   6080.41352
min     50.000000  18000.00000
25%    175.000000  29000.00000
50%    340.000000  33000.00000
75%    340.000000  35500.00000
max    400.000000  42000.00000




<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   review_id   10000 non-null  object
 1   product_id  10000 non-null  object
 2   date        10000 non-null  object
 3   rating      10000 non-null  float64
 4   sentiment   10000 non-null  object
 5   platform    10000 non-null  object
 6   comment     10000 non-null  object
dtypes: float64(1), object(6)
memory usage: 547.0+ KB
None
             rating
count  10000.000000
mean       2.989770
std        1.154366
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000




<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   transaction_id     1000000 non-null  object
 1   date               1000000 non-null  object
 2   product_id         1000000 non-null  object
 3   region             1000000 non-null  object
 4   channel            1000000 non-null  object
 5   units_sold         1000000 non-null  int64
 6   avg_price          1000000 non-null  float64
 7   discount_pct       1000000 non-null  int64
 8   revenue            1000000 non-null  float64
 9   days_since_launch  1000000 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 76.3+ MB
None
           units_sold       avg_price    discount_pct         revenue  \
count  1000000.000000  1000000.000000  1000000.000000  1000000.000000
mean         4.001974    30315.081419        5.006720   121309.698437
std          1.731468     5960.625567        6.125581    58534.346512
min          1.000000    13248.420000        0.000000    13248.420000
25%          3.000000    26771.820000        0.000000    77720.817500
50%          4.000000    30780.940000        5.000000   113075.435000
75%          5.000000    34268.410000       10.000000   156348.607500
max         15.000000    44099.840000       20.000000   569920.150000

       days_since_launch
count     1000000.000000
mean          396.555560
std           791.347207
min         -1613.000000
25%          -166.000000
50%           397.000000
75%           990.000000
max          2146.000000

In [ ]:
data = 1
datapu = 2